ul.post-images:has(li:only-child) {
  display: block;

  img {
    height: auto;
  }
}

ul.post-images details {
  background: var(--alt-text-bg);
  color: var(--alt-text-color);
  border-radius: 1ex;
  padding: 0 2ex;
  white-space: pre-line;

  summary {
    font-weight: bold;  
  }
}

ul.post-images details:focus,
ul.post-images details:hover {
  background: var(--alt-text-hover-bg);
}


ul.post-images {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 0.5ex;
  width: 100%;

  li {
    display: block;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
