ul.post-images:has(li:only-child) {
  display: block;

  img {
    height: auto;
  }
}


ul.post-images {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 0.5ex;
  width: 100%;

  li {
    display: block;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
