#minimap {
  --thread-handle-width: 0.8vw;
  --collapsed-thread-handle-margin: 0.3vw;

  a.thread-handle > svg {
    path {
      stroke-width: 2;
    }
  }

  position: fixed;
  top: var(--header-height);
  right: 0;
  height: calc(100vh - var(--header-height));
  width: 200px;
  overflow: hidden;
  border: 4px solid hsl(var(--nextui-foreground));

  div.minimap-post {
    border: 1px solid hsl(var(--nextui-foreground));
    border-radius: 1ex;

    .avatar {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  div.minimap-threaded-post > ul {
    display: flex;

    a.thread-handle {
      display: block;
      height: 100%;

      svg {
        width: var(--thread-handle-width);
        position: relative;
        top: -17px;
      }
    }

    li.thread-line-first:not(.thread-line-last) {
      display: flex;

      > a.thread-handle {
        border-left: 1px solid hsl(var(--nextui-foreground));
        &:hover {
          border-color: hsl(var(--nextui-primary));
        }
      }

      &::after {
        content: " ";
        display: block;
        width: var(--collapsed-thread-handle-margin);
        height: 100%;
      }
    }

    /* Collapsed reply chains. */
    li.collapsed-last > a.thread-handle,
    li.collapsed-first > a.thread-handle {
      width: var(--collapsed-thread-handle-margin);
      border-left: 1px solid hsl(var(--nextui-foreground));
      &:hover {
        border-color: hsl(var(--nextui-primary));
      }
      svg { display: none; }
    }

    /* Let them know this is the last post in the reply chain. */
    li.collapsed-last {
      margin-bottom: 1px;
    }

    li.collapsed-hidden > a.thread-handle {
      display: none;
    }

    li.thread-line-continue > a.thread-handle {
      width: var(--thread-handle-width);
      border-left: 1px solid hsl(var(--nextui-foreground));
      &:hover {
        border-color: hsl(var(--nextui-primary));
      }
      svg { display: none; }
    }

    li.thread-line-hide > a.thread-handle {
      width: var(--thread-handle-width);
      svg { display: none; }
    }

    li.thread-line-branch > a.thread-handle {
      border-left: 1px solid hsl(var(--nextui-foreground));
      &:hover { 
        border-color: hsl(var(--nextui-primary));
      }
    }

    /* In the situation where this is the first post of a subthread that has a
     * branch, we need to draw a little "patch" for the subthread to connect to.
     * It's not a real, full, thread handle. */
    li.thread-line-branch.has-replies,
    li.thread-line-first.has-replies,
    li.thread-line-first.thread-line-last.has-branch
    {
      a.thread-handle {
        display: flex;
      }

      display: flex;
      
      &::after {
        content: " ";
        display: block;
        width: var(--collapsed-thread-handle-margin);
        height: auto;
        border-left: 1px solid hsl(var(--nextui-foreground));
        margin-top: 12px;

        /* I don't know why I have to reposition this. Probably other borders are
         * adding space to stuff, causing it to be off by a pixel. */
        position: relative;
        left: -1px;
      }
    }

    li.thread-line-branch:last-child,
    li.thread-line-last:last-child {
      display: flex;

      &::after {
        content: " ";
        display: block;
        width: var(--collapsed-thread-handle-margin);
        height: 100%;
      }
    }
  }
}
