@media (width < 600px) {
  aside#minimap { display: none; }
}

#minimap {
  --thread-handle-width: 0.8vw;
  --collapsed-thread-handle-margin: 0.3vw;

  position: relative;

  #minimap-scrollbar-thumb {
    position: absolute;
    left: 0;
    width: 100%;
    border: 2px solid hsl(var(--nextui-secondary));
    background: hsl(var(--nextui-secondary) / 0.3);
    z-index: 3;

    /* The thumb covers up the mini-posts. But we don't want it to block hovering over the mini-posts. */
    /* See: https://stackoverflow.com/questions/9738984/css-hover-passes-through-elements-to-activate-hover-on-covered-element */
    pointer-events: none;
  }

  div.thread-handle > svg {
    path {
      stroke-width: 0.5;
    }
  }

  position: fixed;
  top: var(--header-height);
  right: 0;
  height: calc(100vh - var(--header-height));
  width: 200px;
  overflow: hidden;

  /* I'm pretty sure I don't want a border around the minimap, but not 100%
   * sure.  I'll keep this here to remind me that I'm still thinking about it. */
  /* border: 1px solid hsl(var(--nextui-foreground)); */

  div.minimap-post {
    border: 1px solid hsl(var(--nextui-foreground));
    border-radius: 1ex;
    width: 100%;

    .avatar {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  div.minimap-threaded-post:hover {
    background: hsl(var(--nextui-default-300)); 
  }

  div.minimap-threaded-post > ul {
    flex-shrink: 2;
    display: flex;

    div.thread-handle {
      display: block;
      height: 100%;

      svg {
        width: 30px;
        position: relative;
        top: -11px;
      }
    }

    li.first-post,
    li.post-in-chain,
    li.post-in-chain-end,
    li.continuance {
      svg { display: none; }

      div.thread-handle {
        display: block;
        width: 16px;
        border-left: 1px solid hsl(var(--nextui-foreground));
      }
    }

    li.first-post div.thread-handle {
      margin-top: 24px;
    }

    li.continuance div.thread-handle {
      width: 30px;
    }

    li.post-in-chain-end div.thread-handle {
      height: calc(75%);
      margin-bottom: 25%;
    }

    li.branch-singleton div.thread-handle {
      width: 45px;
      border-left: 1px solid hsl(var(--nextui-foreground));
    }

    li.branch-singleton-end div.thread-handle {
      width: 45px;
    }

    li.start-branch div {
      display: flex;
      width: 45px;
      border-left: 1px solid hsl(var(--nextui-foreground));

      &::after {
        content: " ";
        display: block;
        width: 16px;
        height: auto;
        margin-top: 24px;
        border-left: 1px solid hsl(var(--nextui-foreground));
      }
    }
  }

  /* Draw little dots where the posts are, to break up the thread lines a little. */
  /* Maybe no dots. The size of the posts in the minimap scales, and the dots get out of scale easily. 
  div.minimap-threaded-post > div.minimap-post {
    position: relative;
  }
  div.minimap-threaded-post > div.minimap-post::before {
    content: " ";
    display: block;
    width: 6px;
    height: 6px;
    background: hsl(var(--nextui-foreground));
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: -19px;
    z-index: 2;
  }
  */

  /* Don't draw the dot if there are no replies */
  /* We're not doing dots.
  &:not(:has(section.replies)) > section.main-post div.minimap-post::before {
    content: "";
    display: none;
  }
  */

  div.post {
    border: 1px solid transparent;
  }

  section.main-post div.post {
    border-color: hsl(var(--nextui-foreground));
  }

}
