nav li a.active {
  background: var(--active-menu-color);
}

nav#available-feeds {
  ul {
    display: flex;
    padding-left: 0;

    li {
      display: block;
      font-size: 20px;
      padding: 0 1ex 0 0;
    }
  }
}
