.quoteboost-boost-icon {
  position: absolute;
  left: 28px;
}

span.quoteboost-boost-icon-logged-out {
  position: absolute;
  left: 5px;
}

li.post-stat {
  position: relative;
}

ul:not(.editable) > li.post-stat:not(.more-options-menu) {
  margin-right: 3ex;
  margin-left: 3ex;
}

article.post-single {
  display: grid;
  grid-template-columns: 100%;
}

span.post-author {
  flex-shrink: 2
}

.person-inline .name-handle {
  flex-shrink: 2;
  overflow: hidden;
}

.scroll-into-view {
  position: relative;
  top: -6em; 
  width: 0.0001px;
  height: 0.0001px; 
  z-index: -1;
  background: transparent;
} 

a.post-time:hover {
  text-decoration: underline;
}
