article.post {
  margin-top: 1em;
}

.quote-boosted-posts {
  padding-left: 1em;
  border: 1px solid black;

  & > article.post {
    margin-top: 1ex;
  }
}

.boosted-posts > .post {
  margin-top: 0;
}

.post-text blockquote,
.mdxeditor-rich-text-editor blockquote {
  border-left: 1ex solid #ccc;
  margin-left: 10px;
  padding-left: 20px;
}
