article.post {
  margin-top: 1em;
}

.quote-boosted-posts {
  padding-left: 1em;
  border: 1px solid black;

  & > article.post {
    margin-top: 1ex;
  }
}

.boosted-posts > .post {
  margin-top: 0;
}

.post-text blockquote,
.mdxeditor-rich-text-editor blockquote {
  border-left: 1ex solid #ccc;
  margin-left: 10px;
  padding-left: 20px;
}

div.post {
  span.post-metadata {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6ex;
    
    span.post-date {
      display: block;
      order: 1;
    }

    span.post-author {
      display: block;
    }

    span.published-date {
      text-align: right;

      & > time {
        display: block;
      }

      .abs-date {
        font-size: xx-small;
        width: 15ex;
      }
    }

    span.post-author {
      display: block;

      a.person-inline {
        display: flex;
        gap: 1ex;
        text-decoration: none;

        .avatar {
          display: block;
        }

        bdi {
          font-weight: bold;
          display: block;
        }

        span.handle-and-trust {
          display: block;

          span.person-inline-trust-info {
            span.is-you {
              font-weight: bold;
              color: var(--text-color);
              margin: 0 0.6ex;
            }
          }
        }
      }
    }
  }

  aside.post-stats {
    & > ul {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;

      & > li {
        display: block;
        margin-left: 0;

        & > ul {
          display: flex;
          padding-left: 0;
          
          & > li {
            display: block;
            margin-left: 0;
          }
        }
      }

      li.reactions {
        order: -1;
        flex: 100%;
        margin-bottom: 1ex;

        & > ul {
          flex-wrap: wrap;
        }

        --reaction-height: 23px;

        li.reaction {
          margin: 0 1ex 0 0;

          a {
            display: flex;
            height: var(--reaction-height);
            line-height: var(--reaction-height);

            text-decoration: none;

            .glyph {
              margin-right: 0.6ex;
            }

            img {
              height: var(--reaction-height);
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
