.quoteboost-boost-icon {
  position: absolute;
  left: 28px;
}

span.quoteboost-boost-icon-logged-out {
  position: absolute;
  left: 5px;
}

li.post-stat {
  position: relative;
}

article.post-single {
  display: grid;
  grid-template-columns: 100%;
}

span.post-author {
  flex-shrink: 2
}

.person-inline .name-handle {
  flex-shrink: 2;
  overflow: hidden;
}

.scroll-into-view {
  position: relative;
  top: -6em; 
  width: 1ex;
  height: 1ex; 
  z-index: -1;
  background: transparent;
} 
