article.post > div.post:hover {
  background: var(--hover-color);
}

article.post > div.post:has(span.post-author:hover),
article.post > div.post:has(.reactions:hover),
article.post > div.post:has(.non-quote-boosts:hover),
article.post > div.post:has(.quote-boosts:hover),
article.post > div.post:has(.post-stat-replies:hover) {
  background: var(--bg-color);
}

article.post > div.post {
  span.post-author:hover,
  .reactions:hover,
  .non-quote-boosts:hover,
  .quote-boosts:hover,
  .post-stat-replies:hover {
    background: var(--hover-color);

    a.stat-destination {
      text-decoration: underline;
    }
  }
}


article.post {
  margin-top: 1em;

  .time-ago {
    font-weight: bold;
  }

  .post-stat-bar {
    margin-left: 5ex;
  }
}

.quote-boosted-posts {
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;

  & > article.post {
    margin-top: 1ex;
  }
}

.boosted-posts > .post {
  margin-top: 0;
}

.post-text blockquote,
.mdxeditor-rich-text-editor blockquote {
  border-left: 1ex solid #ccc;
  margin-left: 10px;
  padding-left: 20px;
}

div.post {
  span.post-metadata {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6ex;
    
    span.post-date {
      display: block;
      order: 1;

      a {
        text-decoration: none;
      }
    }

    span.post-author {
      display: block;
      overflow: hidden;
    }

    span.published-date {
      text-align: right;
      display: block;

      .abs-date {
        font-size: xx-small;
        width: 15ex;
      }
    }

    span.post-author {
      display: block;
    }
  }

  aside.post-stats {
    .stat-destination {
      display: block;
    }

    ul.post-stat-bar {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;

      & > li.post-stat {
        display: block;
        margin-left: 0;

        & > ul.reactions,
        & > ul.boosts {
          display: flex;
          padding-left: 0;
          
          & > li {
            display: block;
            margin-left: 0;
          }
        }
      }

      li.post-stat-replies,
      li.non-quote-boosts {
        padding-right: 2ex;
      }

      a.stat-destination {
        font-size: small;
        display: block;
        margin-bottom: 0.3ex;
      }

      a.stat {
        text-decoration: none;
        display: block;
        width: 100%;
      }

      li.reactions {
        order: -1;
        flex: 100%;
        margin-bottom: 1ex;

        a.reactions-header {
          font-size: small;
        }

        & > ul {
          flex-wrap: wrap;
        }

        --reaction-height: 23px;

        li.reaction {
          margin: 0 1ex 0.5ex 0;

          a {
            display: flex;
            height: var(--reaction-height);
            line-height: var(--reaction-height);

            text-decoration: none;

            .glyph {
              margin-right: 0.6ex;
            }

            img {
              height: var(--reaction-height);
              object-fit: contain;
            }
          }
        }

        li.add-a-reaction {
          & > a {
            display: block;
            height: var(--reaction-height);
            line-height: calc(var(--reaction-height) + 6px);
            padding: 0 1ex;
          }
        }
      }
    }
  }
}

.quoteboost-boost-icon {
  color: var(--bg-color);
  display: block;
  position: absolute;
  z-index: 1;
  padding-left: 2.5px;
}

.posts-list article {
  padding-bottom: 1em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.posts-list article:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

a.stat-destination {
  text-decoration: none;
}

a.stat-destination:focus {
  text-decoration: underline;
}
