img.avatar-medium {
  width: 4em;
  height: 4em;
}

img.avatar-small {
  width: 1.5em;
  height: 1.5em;
}

#profile-fields {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: fit-content;
  gap: 2ex;
  align-items: center;

  label {
    text-align: right;
    font-weight: bold;
  }

}


