.profile-view {
  .profile-bio {
    white-space: pre-line;
  }
}

section.trust-info {
  margin-bottom: 2ex;
}

section.actions {
  margin-bottom: 2ex;
}

main.profile-view nav.navigation-tabs {
  position: sticky;
  top: calc(46px + 46px);
  background: white;
  z-index: 2;
}

main.profile-view h1 {
  position: sticky;
  z-index: 2;
  top: 46px;
  font-size: 20pt;
  background: var(--bg-color);

  span.display-name,
  span.author-handle {
    display: block;
  }

  span.author-handle {
    font-size: 14pt;
  }

  & > a {
    display: flex;

    img {
      margin-right: 0.8ex;
    }
  }
}

main.profile-view ul.navigation-tabs {
  padding-left: 0;
  display: flex;

  li {
    display: block;
    width: 100%;

    a:not(.active) {
      border: 1px solid var(--hover-color);
    }

    a {
      display: block;
      padding: 0.3ex 1ex;
      height: 100%;
      align-content: end;
      text-align: center;
      border-radius: 1ex 1ex 0 0;
      text-decoration: none;
      background: var(--bg-color);
    }

    a.active {
      background: var(--active-menu-color);
    }

    a.active:focus,
    a.active:hover {
      background: var(--active-hover-color);
    }

    a:focus,
    a:hover {
      text-decoration: underline;
      background: var(--hover-color);
    }
  }
}

ul.who-do-they-follow,
ul.who-follows-them {
  padding-left: 0;

  & > li {
    display: block;

    margin-bottom: 1em;
  }
}
