main.test {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  /* The below will only apply to the test page until we're ready to deploy it to the real threads. */

div.post {
  border: 1px solid black;
  margin-left: 1ex;
  padding: 1ex;
}

ul.replies > li > div.post-and-replies {
  margin-top: 2ex;
}

a.thread-handle > svg {
  width: 30px;
  position: relative;
  top: -11px;
}

ul.replies > li {
  display: flex;
}

a.thread-handle {
  display: block;
  width: 30px;
  height: auto;
  border-left: 1px solid black;
  background-position: left top;
  background-repeat: no-repeat;
}

/* Don't draw the border-left if there's no "next" li in the list.  Don't give
 * the impression that the thread continues beyond this. */
ul.replies > li:last-child > a.thread-handle {
  border-left: none;
}

ul.replies > li:not(:first-child:last-child):has(> div.post-and-replies > article > ul.replies > li:first-child:last-child) > a {
  display: flex;
}

ul.replies > li > div.post-and-replies > article > div.post { position: relative; }

ul.replies > li:has(div.post-and-replies > article > ul.replies > li ~ li) > div.post-and-replies > article > div.post::before {
  content: " ";
  display: block;
  width: 2em;
  height: calc(100% - 4px);
  position: absolute;
  left: -9px;
  top: 5px;
  border-left: 1px solid black;
}

/* This displays the link for the collapsed reply chain. */
a.collapsed-thread-handle {
  content: " ";
  display: none;
}

ul.replies > li:not(:first-child:last-child):has(> div.post-and-replies > article > ul.replies > li:first-child:last-child) {
  & > a.collapsed-thread-handle {
    content: " ";
    border-left: 1px solid black;
    margin-top: 23px;
    margin-bottom: 2em;
    width: 1ex;
  }

  & > a.collapsed-thread-handle:hover {
    border-color: blue;
  }

  & > div.post-and-replies > article > div.post {
    margin-left: 0;
  }
}

ul.replies > li:first-child:last-child {
  & > a {
    display: none;
  }

  & > div.post-and-replies > article > div.post {
    margin-left: 0;
  }

  /* This makes it so that subsequent replies in deep reply chains don't each
   * add a pixel of border to the left.  We're okay using the border of the first
   * reply in the chain.
   * This is the "collapsed reply-chain" rule */
  & > div.post-and-replies > article > ul.replies > li:first-child:last-child {
    border-left: none;
  }
}


/* Hover rules */
a.thread-handle svg { color: black; }
a.thread-handle:hover svg { color: blue; }

li:has(> a.thread-handle:hover) ~ li > a.thread-handle,
li:has(~li > a.thread-handle:hover) > a.thread-handle,
a.thread-handle:hover {
  border-color: blue;
}


div.post-and-replies > article:has(> ul.replies > li > a.thread-handle:hover) > div.post 
{
  border-color: blue;
}

}
