main.test {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  /* The below will only apply to the test page until we're ready to deploy it to the real threads. */

a.thread-handle {
  display: block;
  width: 30px;
  height: 30px;
  background: orange;
}

div.post {
  border: 1px solid black;
  margin: 1ex;
  padding: 1ex;
}

ul.replies > li {
  display: flex;
}

ul.replies > li:first-child:not(:last-child):before {
  content: " ";
  width: 5px;
  height: auto;
  background: gold;
}
ul.replies > li:first-child:not(:last-child) {
  & > a.thread-handle {
    content: url("/corner.svg");
  }
}
ul.replies > li:first-child:not(:last-child) {
  & > a.thread-handle {
    content: url("/corner.svg");
  }
}

ul.replies > li:not(:first-child):not(:last-child):before {
  content: " ";
  width: 5px;
  height: auto;
  background: green;
}
ul.replies > li:not(:first-child):not(:last-child) {
  & > a.thread-handle {
    content: none;
  }
}

ul.replies > li:not(:first-child):last-child:before {
  content: " ";
  width: 5px;
  height: auto;
  background: red;
}

ul.replies > li:first-child:last-child:before {
  content: " ";
  width: 5px;
  height: auto;
  background: purple;
}
ul.replies > li:first-child:last-child {
  & > a.thread-handle {
    content: url("/corner.svg");
  }
}

}
