aside#system-notifications {
  ul {
    padding-left: 0;

    li {
      display: block;

      border: 3px solid grey;
      border-radius: 2ex;
      padding: 2ex;

      margin-bottom: 1ex;

      & > div {
        display: flex;
        justify-content: space-between;

        & > a {
          display: block;
        }
      }
    }

    li.success {
      background: var(--status-success-bg);
      border-color: var(--status-success-border);
    }

    li.success:hover {
      background: var(--status-success-hover-bg);
      border-color: var(--status-success-hover-border);
    }

    li.warn {
      background: var(--status-warn-bg);
      border-color: var(--status-warn-border);
    }

    li.warn:hover {
      background: var(--status-warn-hover-bg);
      border-color: var(--status-warn-hover-border);
    }
  }
}
