main.thread {

h1 { order: 1; }
section.thread-context { order: 2; }
section.main-post { order: 3; }
section.replies { order: 4; }
section.thread-remainder { order: 5; }

section {
  width: 100%;
}

/* Test stuff.  This should become obsolete. */
.thread-line-hide {
  text-decoration: line-through;
}

.thread-line-last {
  font-weight: bold;
}


}
