/* In dark mode, it needs to be a little thicker to appear the same */
.dark article.post-and-your-new-replies > svg,
.dark main.thread a.thread-handle > svg {
  path {
    stroke-width: 0.8;
  }
}

article.post-and-your-new-replies,
main.thread {

/* Reorder the page from screenreader order to visual order. */
h1 { order: 1; }
section.thread-context { order: 2; }
section.main-post { order: 3; }
section.replies { order: 4; }
section.thread-remainder { order: 5; }

article.post,
section {
  width: 100%;
}

article.post {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a.thread-handle:hover {
  border-color: hsl(var(--nextui-primary));
}

div.threaded-post > ul {
  flex-shrink: 2;
  display: flex;

  a.thread-handle {
    display: block;
    height: 100%;

    svg {
      width: 30px;
      position: relative;
      top: -11px;
    }
  }

  li.first-post,
  li.post-in-chain,
  li.post-in-chain-end,
  li.continuance {
    svg { display: none; }

    a {
      display: block;
      width: 16px;
      border-left: 1px solid hsl(var(--nextui-foreground));
    }
  }

  li.first-post a {
    margin-top: 24px;
  }

  li.continuance a {
    width: 30px;
  }

  li.post-in-chain-end a {
    height: calc(100% - 4em);
    margin-bottom: 4em;
  }

  li.branch-singleton a {
    width: 45px;
    border-left: 1px solid hsl(var(--nextui-foreground));
  }

  li.branch-singleton-end a {
    width: 45px;
  }

  li.start-branch a {
    display: flex;
    width: 45px;
    border-left: 1px solid hsl(var(--nextui-foreground));

    &::after {
      content: " ";
      display: block;
      width: 16px;
      height: auto;
      margin-top: 24px;
      border-left: 1px solid hsl(var(--nextui-foreground));
    }
  }
}

/* Draw little dots where the posts are, to break up the thread lines a little. */
div.threaded-post > div.post-and-composing-reply > article {
  position: relative;
}
div.threaded-post > div.post-and-composing-reply > article::before {
  content: " ";
  display: block;
  width: 1ex;
  height: 1ex;
  background: hsl(var(--nextui-foreground));
  border-radius: 100%;
  position: absolute;
  top: 13px;
  left: -19px;
  z-index: 2;
}

div.post {
  border: 1px solid transparent;
}

section.main-post div.post {
  border-color: hsl(var(--nextui-foreground));
}

.thread-handle-text {
  /* visually-hidden */
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

}

/* Don't draw the threading stuff if there are no replies */

article.post-and-your-new-replies:not(:has(div.reply)),
main.thread:not(:has(section.replies)):not(:has(section.thread-context)):not(:has(section.thread-remainder)) > section.main-post {
  div.post-and-composing-reply > article::before {
    content: "";
    display: none;
  }

  li.first-post {
    display: none;
  }
}

