/* In dark mode, it needs to be a little thicker to appear the same */
.dark main.thread a.thread-handle > svg {
  path {
    stroke-width: 0.8;
  }
}

main.thread {

/* Reorder the page from screenreader order to visual order. */
h1 { order: 1; }
section.thread-context { order: 2; }
section.main-post { order: 3; }
section.replies { order: 4; }
section.thread-remainder { order: 5; }

article.post,
section {
  width: 100%;
}

article.post {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.threaded-post > ul {
  flex-shrink: 2;
  display: flex;

  a.thread-handle {
    display: block;
    height: 100%;

    svg {
      width: 30px;
      position: relative;
      top: -11px;
    }
  }

  li.thread-line-first:not(.thread-line-last) > a.thread-handle {
    border-left: 1px solid hsl(var(--nextui-foreground));
  }

  li.thread-line-continue > a.thread-handle {
    width: 30px;
    border-left: 1px solid hsl(var(--nextui-foreground));
    svg { display: none; }
  }

  li.thread-line-hide > a.thread-handle {
    width: 30px;
    svg { display: none; }
  }

  li.thread-line-branch > a.thread-handle {
    border-left: 1px solid hsl(var(--nextui-foreground));
  }

  /* In the situation where this is the first post of a subthread that has a
   * branch, we need to draw a little "patch" for the subthread to connect to.
   * It's not a real, full, thread handle. */
  li.thread-line-branch.has-replies,
  li.thread-line-first:not(.thread-line-last),
  li.thread-line-first.thread-line-last.has-branch
  {
    a.thread-handle {
      display: flex;
    }

    a.thread-handle::after {
      content: " ";
      display: block;
      width: 15px;
      height: auto;
      border-left: 1px solid hsl(var(--nextui-foreground));
      margin-top: 24px;

      /* I don't know why I have to reposition this. Probably other borders are
       * adding space to stuff, causing it to be off by a pixel. */
      position: relative;
      left: -1px;
    }
  }

  /* Collapsed threads. */
  li.thread-line-first.thread-line-last:not(.has-branch) {
    width: 15px;
    border-left: 1px solid hsl(var(--nextui-foreground));

    svg { display: none; }
  }

  /* In order to collapse them, we take the "hidden" thread-lines, and make
   * them not take up any width, in addition to not drawing anything there. */
  li.thread-line-hide:has(+ li.thread-line-first.thread-line-last:not(.has-branch)) {
    display: none;
  }
}

.thread-handle-text {
  /* visually-hidden */
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Test stuff.  This should become obsolete. */
.thread-line-hide {
  text-decoration: line-through;
}

.thread-line-first {
  text-decoration: underline;
}

.thread-line-last {
  font-weight: bold;
}


}
