:root {
  --text-color: black;
  --bg-color: white;

  --button-bg-color: #0766b9;
  --button-fg-color: white;
  --button-hover-bg: #2786d9;
  --button-hover-fg: white;
  --logout-button-bg-color: #d80000;
  --logout-button-fg-color: white;
  --logout-button-hover-bg: #f00000;
  --logout-button-hover-fg: white;
  --button-cancel-bg-color: var(--logout-button-bg-color);
  --button-cancel-fg-color: var(--logout-button-fg-color);
  --button-cancel-hover-bg: var(--logout-button-hover-bg);
  --button-cancel-hover-fg: var(--logout-button-hover-fg);

  --hover-color: #f7f7f7;
  --active-menu-color: #ccf;
  --active-hover-color: #ddf;
  --blockquote-color: #ccc;

  --alt-text-bg: #dddddd;
  --alt-text-hover-bg: #e5e5e5;
  --alt-text-color: black;

  --status-notification-bg: #ccffcc;
  --status-notification-border: #33aa33;
}
