img.avatar-large,
img.avatar-medium,
img.avatar-small {
  border-radius: 50%; 
  border: 2px solid black;
}

img.avatar-large {
  width: 150px;
  height: 150px;
}

img.avatar-medium {
  width: 75px;
  height: 75px;
}

img.avatar-small {
  width: 40px;
  height: 40px;
}

/* Arrange the header */
header {
  display: flex;

  section#user-section {
    order: 0;

    ul {
      display: flex;
      padding-left: 0;

      li { display: block; }
      li#user-name { order: 0; }
      li#notification-bell {
        order: 1; 
        position: absolute;
        right: 0;

        input {
          display: none;
        }
      }
    }
  }

  a#site-logo {
    display: block;
    order: 1;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  }
}
