@import url("static/variables.css");

.visually-hidden {
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

span.avatar-fallback-person-inline,
span.avatar-fallback-large,
span.avatar-fallback-medium,
span.avatar-fallback-small {
  display: inline-block;
  text-align: center;
  color: black;

  svg {
    position: relative;
    top: 3px;
  }
}


span.avatar-fallback-person-inline,
span.avatar-fallback-large,
span.avatar-fallback-medium,
span.avatar-fallback-small,
img.avatar-person-inline,
img.avatar-large,
img.avatar-medium,
img.avatar-small {
  border-radius: 50%; 
  border: 2px solid black;
}

span.avatar-fallback-large,
img.avatar-large {
  width: 150px;
  height: 150px;
}

span.avatar-fallback-medium,
img.avatar-medium {
  width: 75px;
  height: 75px;
}

span.avatar-fallback-person-inline,
img.avatar-person-inline {
  width: 40px;
  height: 40px;

  font-size: 20pt;
}

span.avatar-fallback-small,
img.avatar-small {
  width: 25px;
  height: 25px;
}

/* Arrange the header */
header {
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 8px 0 8px;
  height: 38px;
  width: 100%;
  background: var(--bg-color);

  section#user-section {
    position: fixed;
    width: 100%;

    ul {
      display: flex;
      padding-left: 0;
      margin-top: 0;

      li { display: block; }
      li#user-name { order: 0; }
      li#notification-bell {
        position: absolute;
        right: 15px;
        top: 5px;

        label:has(input:focus) {
          border: 2px solid blue;
        }

        label {
          display: block;
          width: 21px;
        }
      }
    }
  }

  a#site-logo {
    display: block;
    text-align: right;
    position: fixed;
    right: 33px;
    top: 18px;
  }

  section#user-section {
    li#user-name {
      bdi { display: block; }
      img {
        display: block;
        width: 30px;
        height: 30px;
      }
    }
  }
}

div#login-link,
h2#create-a-post {
  z-index: 2;
  position: fixed;
  display: block;
  top: 15px;
  left: 50px;
  margin: 0;
}

div#page-body {
  padding-top: 30px;
}

.site-button {
  font-size: 14pt;
  font-weight: bold;
}

button.button {
  text-decoration: none;
  color: var(--button-fg-color);

  background: var(--button-bg-color);
  color: var(--button-fg-color);
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  font-weight: bold;
}

button.button-cancel {
  background: var(--button-cancel-bg-color);
  color: var(--button-cancel-fg-color);
}

button.button-cancel:focus,
button.button-cancel:hover {
  background: var(--button-cancel-hover-bg);
  color: var(--button-cancel-hover-fg);
}

.button {
  a:visited,
  a {
    text-decoration: none;
    color: var(--button-fg-color);

    background: var(--button-bg-color);
    color: var(--button-fg-color);
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
  }

  a:hover,
  a:focus {
    background: var(--button-hover-bg);
    color: var(--button-hover-fg);
    text-decoration: underline;
  }
}

.logout-button a.logout {
  background: var(--logout-button-bg-color);
  color: var(--logout-button-fg-color);
}

.logout-button a.logout:hover,
.logout-button a.logout:focus {
  background: var(--logout-button-hover-bg);
  color: var(--logout-button-hover-fg);
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
