@import url("static/variables.css");

html:has(.app-theme.dark) {
  background: black;
}

.visually-hidden {
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Arrange the header */
header {
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 8px 0 8px;
  height: 50px;
  width: 100%;
  background-color: hsl(var(--nextui-background));
  z-index: 11;

  section#user-section {
    position: fixed;
    width: 100%;

    ul {
      display: flex;
      padding-left: 0;
      margin-top: 0;
      align-items: center;

      li { display: block; }
      li#user-name { order: 0; }
      li#notification-bell {
        position: absolute;
        right: 15px;
        top: 5px;

        label:has(input:focus) {
          border: 2px solid blue;
        }

        label {
          display: block;
          width: 21px;
        }
      }
    }
  }

  a#site-logo {
    display: block;
    text-align: right;
    position: fixed;
    right: 33px;
    top: 18px;
  }

  section#user-section {
    li#user-name {
      bdi { display: block; }
      img {
        display: block;
        width: 30px;
        height: 30px;
      }
    }
  }
}

div#login-link,
h2#create-a-post {
  z-index: 2;
  position: fixed;
  display: block;
  top: 8px;
  left: 55px;
  margin: 0;
  z-index: 12;
}

div#page-body {
  padding-top: 50px;
}

.site-button {
  font-size: 14pt;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

img.emoji {
  height: 20px;
}
