@import url("static/variables.css");

html:has(.app-theme.dark) {
  background: black;
}

ins {
  background: var(--insertion-color);
}

del {
  background: var(--deletion-color);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Arrange the header */
header.page-header {
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 8px 0 8px;
  height: var(--header-height);
  width: 100vw;
  background-color: hsl(var(--nextui-background));
  z-index: 11;

  section#user-section {
    position: fixed;
    width: 100vw;

    ul {
      display: flex;
      padding-left: 0;
      margin-top: 0;
      align-items: center;

      li { display: block; }
      li#user-name { order: 0; }
      li#notification-bell {
        position: absolute;
        right: 30px;
        top: 5px;

        label:has(input:focus) {
          border: 2px solid blue;
        }

        label {
          display: block;
          width: 21px;
        }
      }
    }
  }

  a#site-logo {
    display: block;
    text-align: right;
    position: absolute;
    right: 50px;
    top: 18px;
  }

}

div#login-link,
h2#create-a-post {
  z-index: 2;
  position: fixed;
  display: block;
  top: 8px;
  left: 55px;
  margin: 0;
  z-index: 12;
}

div#page-body {
  padding-top: var(--header-height);
}

.site-button {
  font-size: 14pt;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

img.emoji {
  height: 20px;
}

.user-content {
  a {
    color: hsl(var(--nextui-primary));
    text-decoration: underline;
  }
}
