@import url("static/variables.css");

.visually-hidden {
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


img.avatar-large,
img.avatar-medium,
img.avatar-small {
  border-radius: 50%; 
  border: 2px solid black;
}

img.avatar-large {
  width: 150px;
  height: 150px;
}

img.avatar-medium {
  width: 75px;
  height: 75px;
}

img.avatar-small {
  width: 40px;
  height: 40px;
}

/* Arrange the header */
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 8px 0 8px;
  height: 38px;
  width: 100%;
  background: var(--bg-color);

  section#user-section {
    position: fixed;
    width: 100%;

    ul {
      display: flex;
      padding-left: 0;
      margin-top: 0;

      li { display: block; }
      li#user-name { order: 0; }
      li#notification-bell {
        position: absolute;
        right: 15px;
        top: 5px;

        label:has(input:focus) {
          border: 2px solid blue;
        }

        label {
          display: block;
          width: 21px;
        }
      }
    }
  }

  a#site-logo {
    display: block;
    text-align: right;
    position: fixed;
    right: 33px;
    top: 18px;
  }

  section#user-section {
    li#user-name {
      bdi { display: block; }
      img {
        display: block;
        width: 30px;
        height: 30px;
      }
    }
  }
}

div#login-link,
h2#create-a-post {
  position: fixed;
  display: block;
  top: 15px;
  left: 50px;
  margin: 0;
}

div#page-body {
  padding-top: 30px;
}

.site-button {
  font-size: 14pt;
  font-weight: bold;
}

.button {
  a:visited,
  a {
    text-decoration: none;
    color: var(--button-fg-color);

    background: var(--button-bg-color);
    color: var(--button-fg-color);
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
  }
}
