import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

img.avatar-medium,
img.avatar-small {
  border-radius: 50%;
  border: 2px solid black;
}

img.avatar-large {
  width: 150px;
  height: 150px;
}

img.avatar-medium {
  width: 75px;
  height: 75px;
}

img.avatar-small {
  width: 40px;
  height: 40px;
}
